/* General styling */
body {
    background: url('/stormy.webp') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
  }
  
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  swiper-container {
    width: 100%;
    height: 100%;
  }
  
  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Project card styling */
  .project-card {
    flex: 0 0 100%;
    width: 100%;
  }
  
  .projects-content {
    display: flex;
    width: 100%;
  }
  
  .project-card-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 80%;
    max-width: 900px;
    max-height: 80vh;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  
  .project-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }
  
  .project-card-content h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .project-card-content p {
    color: #b0e0e6;
    margin-bottom: 10px;
  }
  
  .project-card-content video,
  .project-card-content img {
    border-radius: 10px;
    width: 100%;
    max-height: 50vh;
    transition: transform 0.3s ease-in-out;
  }
  
  /* .project-card-content:hover {
    transform: scale(1.05);
  } */
  
  /* Swiper navigation buttons */
  /* .swiper-button-prev,
  .swiper-button-next {
    color: #ffffff;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  } */
  
  /* .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 1;
  }
   */
  /* .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #00d8ff;
    opacity: 1;
  }
   */
  /* Header styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .header .menu {
    display: flex;
    gap: 20px;
  }
  
  .header .menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .header .menu a:hover {
    color: #00d8ff;
  }
  