/* Footer styles */
.footer {
  position: relative;
  width: 100%;
  background-color: var(--background-color);
  padding: 10px 5px;
  box-shadow: var(--box-shadow);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 1vh;
  height: auto;
  text-align: center;
}

/* Footer title styles */
.footer-title {
  font-size: var(--font-size-small);
  margin-bottom: 5px;
}

/* Footer link styles */
.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: white;
}

/* Footer icons container */
.footer-icons {
  display: flex;
  gap: 5px;
}

/* Footer icon styles */
.footer-icon {
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: white;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .footer {
    padding: 3px; /* Further reduce padding for smaller screens */
    margin-top: 0.5vh; /* Adjusted margin */
  }

  .footer-title {
    font-size: 0.7rem; /* Smaller font size */
  }

  .footer-icons {
    flex-direction: column;
    align-items: center;
    gap: 3px; /* Further reduced gap */
  }

  .footer-icon {
    font-size: 0.7rem; /* Smaller icon size */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 2px; /* Further reduced padding */
    margin-top: 0.5vh; /* Adjusted margin */
  }

  .footer-title {
    font-size: 0.6rem; /* Further reduced font size */
  }

  .footer-icons {
    gap: 2px; /* Further reduced gap */
  }

  .footer-icon {
    font-size: 0.6rem; /* Further reduced icon size */
  }
}