.footer {
  position: relative; /* Changed from fixed to relative */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 20px;
  box-shadow: 0 -8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  padding-top: 2vh;
  margin-top: 10vh; /* Adjust or remove based on layout needs */
}

@media (max-width: 768px) {
  .footer {
    padding: 5px; /* Reduce padding on smaller screens */
    padding-top: 1vh;
    margin-top: 3vh; /* Adjust top margin for smaller screens */
  }

  .container {
    padding: 0 10px; /* Reduce side padding for the container */
  }

  .footer-section {
    margin-bottom: 10px; /* Reduce bottom margin for elements within the footer */
  }

  .footer-icons {
    gap: 10px; /* Reduce gap between icons */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px; /* Further reduce padding for very small screens */
    padding-top: 2vh;
    margin-top: 3vh;
  }

  .footer-title {
    font-size: 1.2rem; /* Reduce font size for titles */
  }

  .footer-icons {
    flex-direction: column; /* Stack icons vertically */
    align-items: center; /* Center-align the stacked icons */
  }
}

/* Additional media query for screens smaller than 320px */
@media (max-width: 320px) {
  .footer {
    padding: 2px; /* Further reduce padding for extremely small screens */
    padding-top: 1vh;
    margin-top: 3vh; /* Adjust top margin for extremely small screens */
  }

  .container {
    padding: 0 5px; /* Further reduce side padding for the container */
  }

  .footer-section {
    margin-bottom: 5px; /* Further reduce bottom margin for elements within the footer */
  }

  .footer-title {
    font-size: 1rem; /* Further reduce font size for titles on extremely small screens */
  }

  .footer-icons {
    gap: 5px; /* Further reduce gap between icons */
    /* Keep flex-direction and alignment from previous media query */
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {                                                                                                                                                               
  margin-bottom: 20px;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00d8ff;
  margin-bottom: 10px;
}

.footer-subtitle {
  color: #b0e0e6;
}

.footer-link {
  color: #00d8ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icon {
  color: #b0e0e6;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #ffffff;
}
