@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme Colors */
  --primary-color: #00d8ff;
  --secondary-color: #b0e0e6;
  --background-color: #ffffff;
  --text-color: #333333;
  --heading-color: #1e88e5;
  --card-bg: rgba(255, 255, 255, 0.8);

  /* Shadows and Borders */
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 8px 32px rgba(31, 38, 135, 0.37);
  --border-color: rgba(200, 200, 200, 0.5);
  --border-radius: 10px;

  /* Font Sizes */
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
}

html, body {
  height: 100%; /* Ensure the height stretches to the viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, #f9f9f9);
}

h1, h2, h3, h4 {
  margin: 0 0 20px;
  color: var(--heading-color);
  font-weight: 700;
}

p {
  margin: 0 0 20px;
  font-size: var(--font-size-small);
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #005cb2;
  text-decoration: underline;
}

/* Containers and Layout */
.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Push footer to the bottom */
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  :root {
    --font-size-large: 1.75rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 0.875rem;
  }

  .section {
    padding: 30px 15px;
  }

}

@media (max-width: 480px) {
  :root {
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.75rem;
  }

  .section {
    padding: 20px 10px;
  }


}
