/* General body styling */
body {
  background: url('/stormy.webp') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Swiper container styling */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.projects-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
  position: relative;
  z-index: 5; /* Ensure it's above other elements */
}

.project-card {
  width: 80%; /* Adjust width as needed */
  max-width: 800px; /* Adjust max-width as needed */
  margin: 20px; /* Margin around the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Round the corners */
  overflow: hidden; /* Prevent overflow */
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
  position: relative; /* Position relative to the container */
}

@media (min-width: 1920px) { /* Adjust for 1080p screens and above */
  .project-card {
    width: 50%; /* Adjust width for larger screens */
    margin: 20px; /* Keep consistent margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow for better depth perception on larger screens */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) { /* Adjust for tablets and below */
  .project-card {
    width: 90%; /* Increase width on smaller screens for better use of space */
    margin: 10px; /* Reduce margin to save space */
  }
}

@media (max-width: 480px) { /* Adjust for mobile phones */
  .project-card {
    width: 95%; /* Further increase width on very small screens */
    margin: 5px; /* Further reduce margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow to match smaller screen aesthetic */
  }
}

